<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360637375995-hi437lsssgmpt6elsv1ulrpptl02v8s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360637375995-hi437lsssgmpt6elsv1ulrpptl02v8s2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360637375995-ts2uks0bvie13lk4j2hvkjvd035oktgi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp5Mw9W30PBX83tLXUUzXkMqXgl8rcmcc</string>
	<key>GCM_SENDER_ID</key>
	<string>360637375995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUiMarry</string>
	<key>PROJECT_ID</key>
	<string>flutter-ui-marry</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ui-marry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360637375995:ios:340a6a9a0a765e1582975e</string>
</dict>
</plist>